<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MalomModelv2"
		     connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
				Initial Catalog=Malomv2;
				Integrated Security=True;
				MultipleActiveResultSets=True"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>